---

---

<main class="app">
	<div class="hero">
		<div class="hero_wrapper">
			<div class="product">
				<div class="product_item">
					<figure class="product_figure h-full rounded-4xl">
						<img
							src="https://cdn.cosmos.so/0ceeba65-431e-4760-a06a-7598a9f72307?format=jpeg"
							alt=""
							class="product_image absolute top-0 left-0 object-cover h-full rounded-4xl"
						/>
					</figure>

					<div class="product_gallery">
						<figure class="product_gallery_figure rounded-4xl">
							<img
								src="https://cdn.cosmos.so/0ceeba65-431e-4760-a06a-7598a9f72307?format=jpeg"
								alt=""
								class="product_gallery_image rounded-4xl hover:border-4 border-orange-400 hover:scale-105 duration-500 ease-in-out"
							/>
						</figure>
						<figure class="product_gallery_figure rounded-4xl">
							<img
								src="https://cdn.cosmos.so/d9115e60-d18a-4ee6-b4af-87408ed37fed?format=jpeg"
								alt=""
								class="product_gallery_image rounded-4xl hover:border-4 border-orange-400 hover:scale-105 duration-500 ease-in-out"
							/>
						</figure>
						<figure class="product_gallery_figure rounded-4xl">
							<img
								src="https://cdn.cosmos.so/0b92186b-a07e-4f3a-8462-78de01b76519?format=jpeg"
								alt=""
								class="product_gallery_image rounded-4xl hover:border-4 border-orange-400 hover:scale-105 duration-500 ease-in-out"
							/>
						</figure>
					</div>
				</div>
				<!-- <h1 class="product_title">Section-1</h1> -->
			</div>

			<div class="product">
				<div class="product_item">
					<figure class="product_figure rounded-4xl">
						<img
							src="https://cdn.cosmos.so/a7bf8a8e-f56d-40a3-acf9-2f4a015bf483?format=jpeg"
							alt=""
							class="product_image absolute top-0 left-0 object-cover h-full rounded-4xl hover:scale-105"
						/>
					</figure>

					<div class="product_gallery">
						<figure class="product_gallery_figure rounded-4xl">
							<img
								src="https://cdn.cosmos.so/1e6ec6ca-246d-4d11-ba6c-986f23f71ccc?format=jpeg"
								alt=""
								class="product_gallery_image rounded-4xl hover:border-4 border-orange-400 hover:scale-105 duration-500 ease-in-out"
							/>
						</figure>
						<figure class="product_gallery_figure rounded-4xl">
							<img
								src="https://cdn.cosmos.so/338eef95-e8e8-4582-a988-013194246f3d?format=jpeg"
								alt=""
								class="product_gallery_image rounded-4xl hover:border-4 border-orange-400 hover:scale-105 duration-500 ease-in-out"
							/>
						</figure>
					</div>
				</div>
				<!-- <h1 class="product_title">Section-2</h1> -->
			</div>
		</div>
	</div>
</main>

<script src="../scripts/index.js"></script>
